.nav-tabs{
  .nav__link {
    display: block;
    color: #858c96;
    background-color: #e0e6ea;
    padding: 16px 30px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 5px;
    }
    .active > &,
    &.active{
      background-color: #ffffff;
      color: #858c96;
    }
  }
}
.nav-pills{
  .nav__link {
    display: block;
    color: #858c96;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    margin:  5px 10px;
    .active > &,
    &.active{
      color: #1078bd;
      border-bottom: 1px solid #1078bd;
    }
  }
}