.card__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 14px;
  height: 14px;
  margin: -7px;
  &:before{
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("images/minus.svg");
    .collapsed & {
      background-image: url("images/plus.svg");
    }
  }
}