hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d8dbdf;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.link-dash{
  border-bottom: 1px dashed;
  text-decoration: none;
}
.link-solid{
  border-bottom: 1px solid;
  text-decoration: none;
}
.text-muted{
  color: #858c96;
}

.h4{
  font-size: 14px;
  font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
  color: #535b69;
}
