.form-title__switch {
  display: inline-block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background: url(images/pen.svg);

  width: 17px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  padding: 0;
}