.file-input {
  border: 1px solid #d4d7da;
  border-radius: 4px;
  color: #858c96;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  input{
    position: absolute;
    opacity: 0;
    left: 100%;
    display: none;
  }
}