.form-check {
  position: relative;
  line-height: 1.3;
  &__label{
    display: block;
    margin-bottom: 0;
    padding-left: 2.4em;
    cursor: pointer;
    &:before{
      content: '';
      box-sizing: border-box;
      position: absolute;
      width: 1em;
      height: 1em;
      border: 1px solid #979797;
      border-radius: 3px;
      top: 0.15em;
      left: 0;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
  &__input{
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  input:checked + label:before{
    background-color: #3b99fc;
    border-color: #3b99fc;
  }
  input:checked:disabled + label:before{
    background-color: #cecece;
    border-color: #cecece;
  }
  input:disabled:not(:checked) + label{
    color: #cecece;
    &:before{
      border-color: #cecece;
    }
  }
  [type="checkbox"]:checked + label:before {
    background-image: url(images/check.svg);
    background-size: 70%;
  }
  [type="radio"] + label:before {
    border-radius: 50%;
  }
  [type="radio"]:checked + label:before{
    background-image: url(images/circle.svg);
    background-size: 50%;
  }
}