
.table{
  font-size: 13px;
  font-family: 'OpenSans-Regular', Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  &:not(:last-child){
    margin-bottom: 20px;
  }
  thead{
    th{
      font-family: 'OpenSans-Bold', Helvetica, sans-serif;
      font-size: 14px;
      color: #535c69;
      border-bottom: 1px solid #d8dbdf;
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: bottom;
    }
  }
  tbody{
    td{
      padding-top: 1em;
      color: #0a0a0a;
      vertical-align: top;
    }
  }

  td, th{
    &:not(:last-child){
      padding-right: 1em;
    }
  }
}