.nav{
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
}
.nav-tabs {
  background-color: #eef2f4;
  border-top: 20px solid #eef2f4;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-pills{
  display: flex;
  flex-flow: row wrap;
  padding: 15px 10px;
  background-color: #f2f5f7;
  font-size: 14px;
}