a.card__header{
  display: block;
  text-decoration: none;
}
.card__header {
  background-color: #f2f5f7;
  color: #535b69;
  font-size: 14px;
  font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
  padding: 20px 40px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}