
$modal-md: 80%;
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/modal";
.modal{
  font-size: 13px;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  &.fade {
    opacity: 0;
    @include transition($transition-fade);

    &.show {
      opacity: 1;
    }
  }
  &__close{
    font-family: "OpenSans-Bold";
    color: #fff;
    width: 1.2em;
    font-size: 26px;
    height: 1.2em;
    line-height: 0.5;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 !important;
  }
  &__wrap{
    background-color: #f3f3f3;
    padding: 30px;
  }
  &__header{
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    color: #6f6f6f;
    font-size: 14px;
  }
}
