.filter-list {
  font-family: 'OpenSans-Regular', Helvetica, sans-serif;
  font-size: 14px;
  list-style: none;
  color: #858c96;
  padding: 0;
  margin-top: 0px;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover,
    &.active{
      border-bottom-color: initial;
    }
  }
}