//TODO: исключить файл из сборки перед релизом!!!
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/opensans-regular.woff');
  src: local('Open Sans'),url('fonts/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/opensans-light.woff');
  src: local('Open Sans Light'),url('fonts/opensans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('fonts/opensans-semibold.woff');
  src: local('Open Sans Semibold'),url('fonts/opensans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/opensans-bold.woff');
  src: local('Open Sans Bold'),url('fonts/opensans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal
}
//EHD;

